<h1>Attach New Accessory</h1>
<div class="form">
    <h2>{{cube.name}}</h2>
    <img class="cube" src="{{cube.imageURL}}">
    {{#if accessories}}
    <form action="/attach-accessory/{{cube._id}}" method="POST">
        <label for="accessory">Accessories</label>
        <select id="accessory" name="accessory">
            {{#each accessories}}
            <option value="{{this._id}}">{{this.name}}</option>
            {{/each}}    
        </select>
        <input type="submit" value="Attach">
    </form>
    {{else}}
    <h3 class="italic">This cube already has all available accessories or there are no added accessories yet.</h3>
    {{/if}}
    <a class="btn" href="/">Back</a>
</div>